body {
	background-color: #E2E0E2;
}

.bg-color {
	background-color: #DA1F42;
}

.btn-danger, .btn-danger:focus, .btn-danger:hover, .btn-danger:not(:disabled):not(.disabled):active {
	background-color: #DE505C;
	border-color: #AE2A35;
	box-shadow: none; 
	font-size: 1rem;
}

.form-group, .col-md-4 {
	height: 56px !important;
}

.ingrediente {
	height: 67.9% !important;
}

.select {
	height: 67.9% !important;
}

.btn-color-receta {
	background-color: #DE505C;
	font-size: 1rem;
	box-shadow: none !important;
}